/* ==UserScript==
// @name           All/Colors: Set accent color
// @version        1.2.2
// @include        *
// @stylemode      agent_sheet
// @long-description
/*
	- Apply a accent color for various things
	- It's recommended to be used alongside "./JS/addWindowBorder.uc.js"
*//*
// ==/UserScript== */

:root { /* Vars */
	--accent-color: #00BFFF;
	--inactive-color: #161616;
}

/* Browser/Tab: Border of selected tab */
#tabbrowser-tabs .tabbrowser-tab .tab-background[selected]:not([multiselected]) {
	outline: 1px solid var(--accent-color) !important;
}

/* Browser/Bookmark-bar: Bookmark folders icons */
#navigator-toolbox .bookmark-item[container] {
	fill: var(--accent-color) !important;
}

/* Browser/Menus: Menu borders */
#appMenu-popup,
#navigator-toolbox menupopup {
	--panel-border-color: var(--accent-color) !important;
}

/* Browser/Sidebar: Bookmark folders icons */
#bookmarks-view treechildren::-moz-tree-image {
	fill: var(--accent-color) !important;
}

/* Places: Bookmark folders icons */
#placesView treechildren::-moz-tree-image {
	fill: var(--accent-color) !important;
}

/* Browser: Colored border */
/* "#main-window-border" is defined by "addWindowBorder.uc.js" */
#main-window:-moz-window-inactive #main-window-border { /* Inactive window */
	border-color: var(--inactive-color);
}
#main-window:not(:-moz-window-inactive) #main-window-border { /* Active window */
	border-color: var(--accent-color);
}
