/* ==UserScript==
// @name           All/Colors: Set accent color
// @version        1.2.0
// @include        *
// @stylemode      author_sheet
// @long-description
/*
	- Apply a accent color for various things
	- It also creates a colored window border
*//*
// ==/UserScript== */

:root { /* Vars */
	--accent-color: #00BFFF;
	--inactive-color: #161616;
}

/* Browser/Tab: Border of selected tab */
#tabbrowser-tabs .tabbrowser-tab .tab-background[selected]:not([multiselected]) {
	outline: 1px solid var(--accent-color) !important;
}

/* Browser/Bookmark-bar: Bookmark folders icons */
#navigator-toolbox .bookmark-item[container] {
	fill: var(--accent-color) !important;
}

/* Browser/Menus: Menu borders */
#appMenu-popup,
#navigator-toolbox menupopup {
	--panel-border-color: var(--accent-color) !important;
}

/* Browser/Sidebar: Bookmark folders icons */
#bookmarks-view treechildren::-moz-tree-image {
	fill: var(--accent-color) !important;
}

/* Places: Bookmark folders icons */
#placesView treechildren::-moz-tree-image {
	fill: var(--accent-color) !important;
}

/* Browser: Colored border */
#main-window {
	background-color: black; /* Uh, it is necessary for... the border to be round? Weird */
}
#main-window body {
	padding: 1px;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
}
#main-window:not([gtktiledwindow]) body { /* For Windows */
	border-radius: 0px;
}
#main-window[gtktiledwindow="true"] body { /* GTK tiled window */
	border-radius: 0px;
}
#main-window[gtktiledwindow="false"] body { /* GTK floating window */
	border-radius: 12px;
}
#main-window:-moz-window-inactive body { /* Inactive window */
	background-color: var(--inactive-color);
}
#main-window:not(:-moz-window-inactive) body { /* Active window */
	background-color: var(--accent-color);
}
