/* ==UserScript==
// @name           Browser/Bookmark-Edit(Popup): Improve UI
// @version        1.0.0
// @include        chrome://browser/content/browser.xhtml
// @stylemode      author_sheet
// @long-description
/*
	- Apply changes to improve the interface of the edit bookmark popup
		- Increases the popup width
		- Shows URL field
		- Hides the label before the text fields
		- Increases the size of the folder tree menu
		- Increases the size of the tag selector menu
		- Hides the checkbox for "Show this popup for new bookmarks"
	- Recommended to use alongside "../JS/addPlaceholderOnFields.uc.js"
*//*
// ==/UserScript== */

:root { /* Vars */
	--popup-width: 500px;
	--folder-tree-height: 320px;
	--tag-selector-height: 320px;
}

#editBookmarkPanel {
    min-width: var(--popup-width) !important; /* Increases popup width */
}

#editBookmarkPanelContent:has(.editBMPanel_folderRow:not([hidden])) #editBMPanel_locationField {
    display: unset !important; /* Show URL field (But not when editing folders) */
}

#editBookmarkPanelContent > label {
	display: none !important; /* Hide labels */
}

#editBookmarkPanelContent #editBMPanel_folderTree {
	min-height: var(--folder-tree-height) !important; /* Increases the size of the folder tree menu */
}

#editBookmarkPanelContent #editBMPanel_tagsSelector {
	min-height: var(--tag-selector-height) !important; /* Increases the size of the tag selector menu */
}

#editBookmarkPanel_showForNewBookmarks {
	display: none !important; /* Hides checkmark */
}

#editBookmarkPanelContent > input,
#editBookmarkPanelContent .editBMPanel_folderRow,
#editBookmarkPanelContent #editBMPanel_newFolderButton {
	margin-bottom: 10px !important; /* Adds margin to separate everything */
}
